flows_chatbot_dtac.json
[{"id":"c350901d.e20dd","type":"tab","label":"Main Flows","disabled":false,"info":"Main Flows"},{"id":"b207d987.7e94a8","type":"tab","label":"Test Flow","disabled":true,"info":""},{"id":"584e0550.3eefac","type":"tab","label":"Balance Enquiry","disabled":true,"info":""},{"id":"ca5e85eb.24723","type":"tab","label":"BACK_UP_MAIN_FLOW","disabled":true,"info":""},{"id":"606b4565.568d8c","type":"subflow","name":"Fb-BotNoi-Fb","info":"","in":[{"x":40,"y":40,"wires":[{"id":"fdbe99ed.03e038"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"8bd2596c.ebad58","port":0}]}]},{"id":"4c9305c5.1b58ec","type":"subflow","name":"Validate Postpaid, Prepaid Active Or Suspend","info":"","in":[{"x":58.75,"y":25,"wires":[{"id":"2fa6a131.c7d94e"},{"id":"468d024b.5722fc"}]}],"out":[{"x":1603.75,"y":107,"wires":[{"id":"41713df5.dce0e4","port":0}]},{"x":1601.5000610351562,"y":238.49996948242188,"wires":[{"id":"a6b410fd.bd5d7","port":0}]},{"x":812.5,"y":326.75,"wires":[{"id":"127e0f63.cde571","port":1}]},{"x":816.5,"y":266.75,"wires":[{"id":"d5c65b37.f10f48","port":1}]}]},{"id":"22daa659.bc445a","type":"subflow","name":"Validate Profile and Send OTP","info":"","in":[{"x":50,"y":30,"wires":[{"id":"5a04ff79.8db39"}]}],"out":[{"x":709,"y":340,"wires":[{"id":"58ac9a4c.f8dad4","port":0}]},{"x":1094,"y":281,"wires":[{"id":"c2500e43.9b2b8","port":0}]}]},{"id":"700bea1d.3c0264","type":"subflow","name":"Validate OTP ","info":"","in":[{"x":37,"y":41,"wires":[{"id":"7661c5ef.5f63ac"}]}],"out":[{"x":1275,"y":192,"wires":[{"id":"f5678c9b.7ff6e","port":0},{"id":"610368d.6bf3998","port":0}]},{"x":1087,"y":379,"wires":[{"id":"f987243c.0f8da8","port":1}]}]},{"id":"e2faf569.e7f248","type":"subflow","name":"Balance Enquiry OLD","info":"","in":[{"x":50,"y":30,"wires":[{"id":"9ad0f6bf.862d48"}]}],"out":[{"x":73.5,"y":151.00003051757812,"wires":[{"id":"9ad0f6bf.862d48","port":1}]},{"x":697,"y":93.75,"wires":[{"id":"25a116ab.9abe8a","port":0}]},{"x":1054.25,"y":115,"wires":[{"id":"f19076af.1e2f48","port":0}]},{"x":1054.5,"y":167.00003051757812,"wires":[{"id":"f19076af.1e2f48","port":1}]},{"x":1052.5,"y":217.25,"wires":[{"id":"f19076af.1e2f48","port":2}]},{"x":1053.5,"y":266.25,"wires":[{"id":"f19076af.1e2f48","port":3}]}]},{"id":"17a1908f.9c348f","type":"subflow","name":"PackageEquiry_OLD","info":"","in":[{"x":50,"y":30,"wires":[{"id":"408646f7.803d38"}]}],"out":[{"x":599,"y":192,"wires":[{"id":"408646f7.803d38","port":1}]},{"x":964,"y":157,"wires":[{"id":"cba82eb3.f5cdb","port":0}]},{"x":1007,"y":287,"wires":[{"id":"6ebe4f3a.33eff","port":0}]},{"x":1009,"y":349,"wires":[{"id":"6ebe4f3a.33eff","port":1}]},{"x":1015,"y":411,"wires":[{"id":"6ebe4f3a.33eff","port":2}]},{"x":1002,"y":484,"wires":[{"id":"6ebe4f3a.33eff","port":3}]}]},{"id":"327bab91.85abcc","type":"subflow","name":"CHAT BOT","info":"subflow for grouping all service","in":[{"x":40,"y":40,"wires":[{"id":"f7b3616d.3dc81"}]}],"out":[{"x":1640,"y":220,"wires":[{"id":"9dbb9630.ac6e3","port":0},{"id":"f3df7484.87dff","port":0},{"id":"50e74cef.dfc3b4","port":0},{"id":"4bb6e21b.638384","port":0},{"id":"fe2e7801.dbf7a","port":0},{"id":"35c64e2a.37fb62","port":0},{"id":"6acd99f1.fa9f8","port":0},{"id":"738cf048.d32218","port":0},{"id":"bcbc7463.b4276","port":0},{"id":"3214bdb1.e1bad2","port":0}]}]},{"id":"ff4842e.08ea74","type":"subflow","name":"NLP","info":"","in":[{"x":100,"y":40,"wires":[{"id":"e9e916.65dd06e8"}]}],"out":[{"x":484,"y":257,"wires":[{"id":"39115df3.a8d20a","port":0}]}]},{"id":"64f36254.d7b944","type":"subflow","name":"Balance Enquriy","info":"","in":[{"x":40,"y":40,"wires":[{"id":"8e79d7d5.28c7f"}]}],"out":[{"x":980,"y":40,"wires":[{"id":"83073e73.3a70d8","port":0}]}]},{"id":"82ed363f.63ca4","type":"subflow","name":"Package Enquriy","info":"","in":[{"x":60,"y":60,"wires":[{"id":"3acdc8f2.a912a8"}]}],"out":[{"x":1000,"y":60,"wires":[{"id":"46ce1e38.f2de1","port":0}]}]},{"id":"d2d35deb.9e55","type":"chatbot-facebook-node","z":"","botname":"BOT","usernames":"","store":"","log":""},{"id":"bb8f57bb.95d638","type":"inject","z":"b207d987.7e94a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"x":90,"y":160,"wires":[["f340d978.dd6dc8"]]},{"id":"f340d978.dd6dc8","type":"http request","z":"b207d987.7e94a8","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":260,"y":160,"wires":[["af29a4d1.1a05e8"]]},{"id":"af29a4d1.1a05e8","type":"csv","z":"b207d987.7e94a8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":430,"y":160,"wires":[["8cad6025.e703e","d17e2bdf.8249f8"]]},{"id":"8cad6025.e703e","type":"debug","z":"b207d987.7e94a8","name":"","active":true,"complete":false,"x":630,"y":120,"wires":[]},{"id":"d17e2bdf.8249f8","type":"switch","z":"b207d987.7e94a8","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","outputs":1,"x":470,"y":220,"wires":[["df98bc3d.cd2eb"]]},{"id":"df98bc3d.cd2eb","type":"change","z":"b207d987.7e94a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[["9f510a5e.be3488"]]},{"id":"9f510a5e.be3488","type":"debug","z":"b207d987.7e94a8","name":"","active":true,"complete":false,"x":710,"y":200,"wires":[]},{"id":"8eaaa1e4.b5f21","type":"debug","z":"606b4565.568d8c","name":"receive msg from botnoi","active":true,"console":"false","complete":"payload","x":190,"y":280,"wires":[]},{"id":"bd9301a9.a6ca4","type":"http request","z":"606b4565.568d8c","name":"req botnoi","method":"GET","ret":"txt","url":"","tls":"","x":190,"y":200,"wires":[["8eaaa1e4.b5f21","8bd2596c.ebad58"]]},{"id":"8bd2596c.ebad58","type":"function","z":"606b4565.568d8c","name":"unescape response","func":"msg.payload = msg.payload.replace(/\\\"/g, '').replace(/\\\\/g,'%');\nmsg.payload = unescape(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["867c141f.4440d8"]]},{"id":"867c141f.4440d8","type":"debug","z":"606b4565.568d8c","name":"","active":true,"console":"false","complete":"false","x":490,"y":140,"wires":[]},{"id":"fdbe99ed.03e038","type":"function","z":"606b4565.568d8c","name":"Set message to request ask","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://botnoiminhash-api.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["bd9301a9.a6ca4"]]},{"id":"20722e8.30de2d2","type":"inject","z":"584e0550.3eefac","name":"","topic":"","payload":"{\"Category\": {\"result\": \"\\u0e2a\\u0e21\\u0e31\\u0e04\\u0e23\\u0e42\\u0e1b\\u0e23\\u0e42\\u0e21\\u0e0a\\u0e31\\u0e48\\u0e19\\u0e2b\\u0e25\\u0e31\\u0e01-\\u0e40\\u0e2a\\u0e23\\u0e34\\u0e21_\\u0e23\\u0e30\\u0e1a\\u0e38\\u0e41\\u0e1e\\u0e47\\u0e01\", \"distance\": \"0.00\"}, \"Message\": \"\\u0e2a\\u0e21\\u0e31\\u0e04\\u0e23\\u0e40\\u0e19\\u0e47\\u0e15 70 \\u0e0a\\u0e21.\\u0e19\\u0e32\\u0e19 30\\u0e27\\u0e31\\u0e19 199 \\u0e1a\\u0e32\\u0e17\", \"Description\": {\"result\": \"HP_internet_70Hr_199B-30d\", \"distance\": \"0.01\"}, \"Product\": {\"result\": \"Prepaid\", \"distance\": \"0.34\"}, \"PackageCode\": {\"result\": \"21230233\", \"distance\": \"0.01\"}, \"ToDoNext\": {\"result\": \"001-2-1\", \"distance\": \"0.23\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":40,"wires":[["a464acc9.75a4a"]]},{"id":"a464acc9.75a4a","type":"json","z":"584e0550.3eefac","name":"","pretty":false,"x":210,"y":40,"wires":[["75969820.fa3918"]]},{"id":"159c0fbf.4d19e","type":"debug","z":"584e0550.3eefac","name":"object json","active":true,"console":"false","complete":"payload","x":772,"y":400,"wires":[]},{"id":"a29fd128.4ca71","type":"function","z":"584e0550.3eefac","name":"Set response message","func":"var ans =  msg.payload.ans\nmsg.payload = ans\nreturn msg","outputs":1,"noerr":0,"x":491,"y":460,"wires":[["35fd48d1.a0b3b8","9bd7e3d6.da70b"]]},{"id":"242ae2bc.4772be","type":"debug","z":"584e0550.3eefac","name":"http rquest","active":true,"console":"false","complete":"payload","x":772,"y":340,"wires":[]},{"id":"fd1a9d91.1d1f3","type":"http request","z":"584e0550.3eefac","name":"","method":"GET","ret":"txt","url":"","x":532,"y":340,"wires":[["242ae2bc.4772be","c5ae6063.d2c63"]]},{"id":"1307bf8e.ae9d9","type":"function","z":"584e0550.3eefac","name":"Set message to request ask","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://wowbox-api.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":280,"wires":[["fd1a9d91.1d1f3"]]},{"id":"c5ae6063.d2c63","type":"json","z":"584e0550.3eefac","name":"","pretty":false,"x":552,"y":400,"wires":[["159c0fbf.4d19e","a29fd128.4ca71"]]},{"id":"c6e999e3.a661a8","type":"debug","z":"584e0550.3eefac","name":"message request from facebook","active":true,"console":"false","complete":"payload","x":179,"y":340,"wires":[]},{"id":"75969820.fa3918","type":"debug","z":"584e0550.3eefac","name":"","active":true,"console":"false","complete":"payload.PackageCode.result","x":680,"y":40,"wires":[]},{"id":"1c4f30dc.1dfc0f","type":"file","z":"584e0550.3eefac","name":"input_message_from_facebook_log_file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":199,"y":580,"wires":[]},{"id":"866ac6b1.8360a8","type":"file","z":"584e0550.3eefac","name":"output_message_from_facebook_log_file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":440,"y":700,"wires":[]},{"id":"6b52adf8.c19b44","type":"function","z":"584e0550.3eefac","name":"set date input filename","func":"var currentDate = msg.currentdate;\nmsg.filename = 'input_facebook_log_'+currentDate+'.log';\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":520,"wires":[["1c4f30dc.1dfc0f"]]},{"id":"b6b4230f.d78a1","type":"debug","z":"584e0550.3eefac","name":"date current input","active":true,"console":"false","complete":"payload","x":129,"y":460,"wires":[]},{"id":"954a4f9b.7a835","type":"debug","z":"584e0550.3eefac","name":"date current output","active":true,"console":"false","complete":"payload","x":490,"y":580,"wires":[]},{"id":"c7f7d1a0.64c96","type":"function","z":"584e0550.3eefac","name":"set date output filename","func":"var currentDate = msg.currentdate;\nmsg.filename = 'output_facebook_log_'+currentDate+'.log';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["866ac6b1.8360a8"]]},{"id":"7661c5ef.5f63ac","type":"http request","z":"700bea1d.3c0264","name":"Call API validate time of OPT","method":"GET","ret":"txt","url":"","tls":"","x":320,"y":40,"wires":[["1a0dbe69.927962"]]},{"id":"87cf3289.108bf","type":"http request","z":"700bea1d.3c0264","name":"Call API validate customer request OTP ","method":"GET","ret":"txt","url":"","tls":"","x":279,"y":207,"wires":[["8864f20e.fc984"]]},{"id":"aae73e33.072c2","type":"moment","z":"584e0550.3eefac","name":"","topic":"","input":"","inputType":"date","inTz":"Etc/ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYDDMM","locale":"EN","output":"currentdate","outputType":"msg","outTz":"Etc/UTC","x":139,"y":400,"wires":[["6b52adf8.c19b44","b6b4230f.d78a1"]]},{"id":"9bd7e3d6.da70b","type":"moment","z":"584e0550.3eefac","name":"","topic":"","input":"","inputType":"date","inTz":"Etc/ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYDDMM","locale":"EN","output":"currentdate","outputType":"msg","outTz":"Etc/UTC","x":501,"y":520,"wires":[["c7f7d1a0.64c96","954a4f9b.7a835"]]},{"id":"35fd48d1.a0b3b8","type":"chatbot-message","z":"584e0550.3eefac","name":"","message":[{"message":""}],"answer":false,"track":false,"x":750,"y":460,"wires":[[]]},{"id":"f5678c9b.7ff6e","type":"chatbot-message","z":"700bea1d.3c0264","name":"return msg otp over 15min","message":[{"message":" เลยเวลาที่กำหนดจ้า หนูดีรบกวนแจ้งเรื่องที่ต้องการทำรายการอีกครั้งจ้า"}],"answer":false,"track":false,"x":958,"y":127,"wires":[[]]},{"id":"610368d.6bf3998","type":"chatbot-message","z":"700bea1d.3c0264","name":"return msg otp first wrong","message":[{"message":"รหัสไม่ถูกจ้า หนูดีขอรหัสใหม่อีกครั้ง"}],"answer":false,"track":false,"x":967,"y":287,"wires":[[]]},{"id":"1a0dbe69.927962","type":"function","z":"700bea1d.3c0264","name":"Validate OTP < 15 min","func":"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":133,"wires":[["effcb8db.39d828"]]},{"id":"8864f20e.fc984","type":"function","z":"700bea1d.3c0264","name":"Validate customer request OTP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":317,"y":292,"wires":[["f987243c.0f8da8"]]},{"id":"effcb8db.39d828","type":"switch","z":"700bea1d.3c0264","name":"IsOver15Min","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":593,"y":135,"wires":[["f5678c9b.7ff6e"],["87cf3289.108bf"]]},{"id":"f987243c.0f8da8","type":"switch","z":"700bea1d.3c0264","name":"IsOTPFirstWrong","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":618,"y":292,"wires":[["610368d.6bf3998"],[]]},{"id":"e219f882.4c5698","type":"switch","z":"4c9305c5.1b58ec","name":"Switch POSTAID, PREPAID","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"POSTPAID","vt":"str"},{"t":"eq","v":"PREPAID","vt":"str"}],"checkall":"true","outputs":2,"x":244.5,"y":248.75,"wires":[["d5c65b37.f10f48"],["127e0f63.cde571"]]},{"id":"2fa6a131.c7d94e","type":"function","z":"4c9305c5.1b58ec","name":"Validate Networktype[Post.Pre]","func":"\nreturn msg;","outputs":1,"noerr":0,"x":256.5,"y":169.75,"wires":[["e219f882.4c5698"]]},{"id":"d5c65b37.f10f48","type":"switch","z":"4c9305c5.1b58ec","name":"Active or Suspend 1Way, 2Way Postpaid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Active Or Suspend OneWay ","vt":"str"},{"t":"eq","v":"Suspend TwoWay ","vt":"str"}],"checkall":"true","outputs":2,"x":588.5,"y":243.75,"wires":[["e71df0b3.8d56d"],[]]},{"id":"127e0f63.cde571","type":"switch","z":"4c9305c5.1b58ec","name":"Active ,Suspend Prepaid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SUSPEND","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540.5,"y":294.75,"wires":[["97ff2287.ba15f"],[]]},{"id":"e71df0b3.8d56d","type":"http request","z":"4c9305c5.1b58ec","name":"Call API BalanceCheck Postpaid","method":"GET","ret":"txt","url":"","tls":"","x":989.5,"y":235.75,"wires":[["41713df5.dce0e4"]]},{"id":"97ff2287.ba15f","type":"http request","z":"4c9305c5.1b58ec","name":"Call API BalanceCheck Prepaid","method":"GET","ret":"txt","url":"","tls":"","x":990.5,"y":298.75,"wires":[["a6b410fd.bd5d7"]]},{"id":"41713df5.dce0e4","type":"function","z":"4c9305c5.1b58ec","name":"get response message postpaid","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1315.5,"y":234.75,"wires":[["99c60750.7cdd6"]]},{"id":"a6b410fd.bd5d7","type":"function","z":"4c9305c5.1b58ec","name":"get response message prepaid","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1314.5000610351562,"y":298.75,"wires":[["c0141a68.951e98"]]},{"id":"5a04ff79.8db39","type":"http request","z":"22daa659.bc445a","name":"Profile","method":"GET","ret":"txt","url":"","tls":"","x":214,"y":178,"wires":[["48f3579e.854658"]]},{"id":"48f3579e.854658","type":"function","z":"22daa659.bc445a","name":"Validate Profile","func":"\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":218,"wires":[["b9998d86.faddd"]]},{"id":"b9998d86.faddd","type":"http request","z":"22daa659.bc445a","name":"Check OM","method":"GET","ret":"txt","url":"","tls":"","x":538,"y":156,"wires":[["150306bb.5ecf49"]]},{"id":"58ac9a4c.f8dad4","type":"http request","z":"22daa659.bc445a","name":"Send OTP","method":"GET","ret":"txt","url":"","tls":"","x":547,"y":336,"wires":[[]]},{"id":"c2500e43.9b2b8","type":"chatbot-message","z":"22daa659.bc445a","name":"return msg no msisdn","message":[{"message":"หนูดีขอเบอร์ระบบ dtac ที่ใช้งานในปัจจุบันเพื่อตรวจสอบให้นะคะ ^^"}],"answer":false,"track":false,"x":921,"y":281,"wires":[[]]},{"id":"150306bb.5ecf49","type":"function","z":"22daa659.bc445a","name":"Validate Operator","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":199,"wires":[["78eb18aa.393838"]]},{"id":"78eb18aa.393838","type":"switch","z":"22daa659.bc445a","name":"IsDTAC","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":543,"y":287,"wires":[["c2500e43.9b2b8"],["58ac9a4c.f8dad4"]]},{"id":"9ad0f6bf.862d48","type":"subflow:22daa659.bc445a","z":"e2faf569.e7f248","name":"","x":175,"y":107,"wires":[["25a116ab.9abe8a"],[]]},{"id":"25a116ab.9abe8a","type":"subflow:700bea1d.3c0264","z":"e2faf569.e7f248","name":"","x":493,"y":101,"wires":[[],["f19076af.1e2f48"]]},{"id":"f19076af.1e2f48","type":"subflow:4c9305c5.1b58ec","z":"e2faf569.e7f248","name":"","x":599,"y":193.25,"wires":[[],[],[],[]]},{"id":"408646f7.803d38","type":"subflow:22daa659.bc445a","z":"17a1908f.9c348f","name":"","x":441,"y":165,"wires":[["cba82eb3.f5cdb"],[]]},{"id":"cba82eb3.f5cdb","type":"subflow:700bea1d.3c0264","z":"17a1908f.9c348f","name":"","x":741,"y":160,"wires":[[],["6ebe4f3a.33eff"]]},{"id":"6ebe4f3a.33eff","type":"subflow:4c9305c5.1b58ec","z":"17a1908f.9c348f","name":"","x":701,"y":346,"wires":[[],[],[],[]]},{"id":"468d024b.5722fc","type":"debug","z":"4c9305c5.1b58ec","name":"Input Status Postpaid, Prepaid flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":311.25,"y":26.25,"wires":[]},{"id":"99c60750.7cdd6","type":"debug","z":"4c9305c5.1b58ec","name":"response msg postpaid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1695,"y":148.75,"wires":[]},{"id":"c0141a68.951e98","type":"debug","z":"4c9305c5.1b58ec","name":"response msg prepaid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1681.25,"y":283.75,"wires":[]},{"id":"7c6c1386.a5344c","type":"http request","z":"ff4842e.08ea74","name":"NLP","method":"GET","ret":"txt","url":"","tls":"","x":350,"y":100,"wires":[["bc473c06.c251e8"]]},{"id":"bc473c06.c251e8","type":"function","z":"ff4842e.08ea74","name":"get response from NLP","func":"\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":160,"wires":[["b97a54c9.c939f"]]},{"id":"e9e916.65dd06e8","type":"function","z":"ff4842e.08ea74","name":"set message to request NLP","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://dtac-chatbot.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["7c6c1386.a5344c"]]},{"id":"b97a54c9.c939f","type":"json","z":"ff4842e.08ea74","name":"","property":"payload","action":"","pretty":false,"x":350,"y":207,"wires":[["39115df3.a8d20a"]]},{"id":"f8a7399.8337648","type":"switch","z":"327bab91.85abcc","name":"Condition Flows","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"Balance_check","vt":"str"},{"t":"eq","v":"CAT1","vt":"str"},{"t":"eq","v":"CAT2","vt":"str"},{"t":"eq","v":"CAT3","vt":"str"},{"t":"eq","v":"CAT4","vt":"str"},{"t":"eq","v":"AGENT","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":360,"y":220,"wires":[["155b08ab.2fcc3f"],[],["b79515de.481cf8"],[],[],[]]},{"id":"39115df3.a8d20a","type":"function","z":"ff4842e.08ea74","name":"Vlidate Category","func":"var intent = msg.payload.intent;\nvar distance = msg.payload.distance;\nif(distance > 0.6){\n    msg.payload.intent = 'AGENT';\n}\nreturn msg;","outputs":1,"noerr":0,"x":314,"y":257,"wires":[[]]},{"id":"910e85b2.75127","type":"http request","z":"ca5e85eb.24723","name":"NLP","method":"GET","ret":"txt","url":"","tls":"","x":873,"y":132,"wires":[["6adaa71.42eded8","bfa7e68a.510a1"]]},{"id":"cf32069f.2f808","type":"file","z":"ca5e85eb.24723","name":"","filename":"input message facebook","appendNewline":true,"createDir":false,"overwriteFile":"false","x":219,"y":171,"wires":[]},{"id":"6adaa71.42eded8","type":"function","z":"ca5e85eb.24723","name":"get response from NLP","func":"\nreturn msg;","outputs":"1","noerr":0,"x":1169,"y":130,"wires":[["7fa2f598.0dbb2c"]]},{"id":"bfa7e68a.510a1","type":"debug","z":"ca5e85eb.24723","name":"response from NLP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":913,"y":97,"wires":[]},{"id":"81953595.e0b3c8","type":"function","z":"ca5e85eb.24723","name":"set message to request NLP","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://dtac-chatbot.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":117,"wires":[["910e85b2.75127","372c7f2e.13b128"]]},{"id":"7fa2f598.0dbb2c","type":"json","z":"ca5e85eb.24723","name":"","property":"payload","action":"","pretty":false,"x":1229,"y":177,"wires":[["db8011a4.fcdb","35dd4672.0c410a"]]},{"id":"372c7f2e.13b128","type":"debug","z":"ca5e85eb.24723","name":"set message to call NLP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":663,"y":160,"wires":[]},{"id":"7babcca3.2c46cc","type":"file","z":"ca5e85eb.24723","name":"","filename":"respons NLP","appendNewline":true,"createDir":false,"overwriteFile":"false","x":179,"y":211,"wires":[]},{"id":"adac3d8a.2b37d8","type":"debug","z":"ca5e85eb.24723","name":"Input request from facebook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":237,"y":265,"wires":[]},{"id":"8238519e.20535","type":"chatbot-message","z":"ca5e85eb.24723","name":"","message":[""],"answer":false,"track":false,"x":1820.75,"y":353.75,"wires":[[]]},{"id":"9fa94c6e.8091f","type":"file","z":"ca5e85eb.24723","name":"","filename":"response facebook","appendNewline":true,"createDir":false,"overwriteFile":"false","x":2147,"y":174,"wires":[]},{"id":"21e1fa59.ec0506","type":"file","z":"ca5e85eb.24723","name":"","filename":"response agent","appendNewline":true,"createDir":false,"overwriteFile":"false","x":2138,"y":219,"wires":[]},{"id":"c93b95bf.66092","type":"switch","z":"ca5e85eb.24723","name":"Condition Flows","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"Balance_check","vt":"str"},{"t":"eq","v":"CAT1","vt":"str"},{"t":"eq","v":"CAT2","vt":"str"},{"t":"eq","v":"CAT3","vt":"str"},{"t":"eq","v":"CAT4","vt":"str"},{"t":"eq","v":"AGENT","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1202,"y":326,"wires":[["6bdfc9f9.aeaa58","4b4b0408.41425c"],["4d92f6d4.36c8f8"],["4d92f6d4.36c8f8"],["4d92f6d4.36c8f8"],["4d92f6d4.36c8f8"],["f125a8e8.a5c54"]]},{"id":"db8011a4.fcdb","type":"function","z":"ca5e85eb.24723","name":"Vlidate Category","func":"var intent = msg.payload.intent;\nvar distance = msg.payload.distance;\nif(distance > 0.6){\n    msg.payload.intent = 'AGENT';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1193,"y":227,"wires":[["c93b95bf.66092","7b663aa9.0a89f4"]]},{"id":"f125a8e8.a5c54","type":"function","z":"ca5e85eb.24723","name":"Call AGENT","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1571.4285430908203,"y":532.1428508758545,"wires":[["8238519e.20535"]]},{"id":"6bdfc9f9.aeaa58","type":"subflow:e2faf569.e7f248","z":"ca5e85eb.24723","name":"","x":1512,"y":313,"wires":[[],[],[],[],["f125a8e8.a5c54"],["f125a8e8.a5c54"]]},{"id":"4b4b0408.41425c","type":"debug","z":"ca5e85eb.24723","name":"Start BalanceCheck Flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1545,"y":229,"wires":[]},{"id":"7b663aa9.0a89f4","type":"debug","z":"ca5e85eb.24723","name":"get Intent to follow ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1522,"y":184,"wires":[]},{"id":"35dd4672.0c410a","type":"debug","z":"ca5e85eb.24723","name":"Convert JSON String to JSON Object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1580,"y":135,"wires":[]},{"id":"4d92f6d4.36c8f8","type":"function","z":"ca5e85eb.24723","name":"Blank condition","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1347,"y":532,"wires":[["f125a8e8.a5c54"]]},{"id":"c714d468.6250f8","type":"http request","z":"64f36254.d7b944","name":"BalanceEquiry API","method":"POST","ret":"txt","url":"","tls":"","x":510,"y":80,"wires":[[]]},{"id":"8e79d7d5.28c7f","type":"function","z":"64f36254.d7b944","name":"Set Message BalanceEquiry","func":"// var str = msg.payload.content;\n// str = encodeURIComponent(str);\n// msg.url = 'https://dtac-chatbot.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":40,"wires":[["83073e73.3a70d8"]]},{"id":"83073e73.3a70d8","type":"function","z":"64f36254.d7b944","name":"set message to response","func":"var reply = msg.payload.reply;\nmsg.payload = reply;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":40,"wires":[[]]},{"id":"f7b3616d.3dc81","type":"subflow:ff4842e.08ea74","z":"327bab91.85abcc","name":"","x":170,"y":40,"wires":[["f8a7399.8337648","81bf4d18.4a5a7"]]},{"id":"f3df7484.87dff","type":"chatbot-message","z":"327bab91.85abcc","name":"response msg balance","message":[{"message":""}],"answer":false,"track":false,"x":1180,"y":40,"wires":[[]]},{"id":"50e74cef.dfc3b4","type":"chatbot-message","z":"327bab91.85abcc","name":"","message":[""],"answer":false,"track":false,"x":1130,"y":80,"wires":[[]]},{"id":"4bb6e21b.638384","type":"chatbot-message","z":"327bab91.85abcc","name":"","message":[""],"answer":false,"track":false,"x":1130,"y":120,"wires":[[]]},{"id":"738cf048.d32218","type":"chatbot-message","z":"327bab91.85abcc","name":"","message":[""],"answer":false,"track":false,"x":1130,"y":360,"wires":[[]]},{"id":"fe2e7801.dbf7a","type":"chatbot-message","z":"327bab91.85abcc","name":"","message":[""],"answer":false,"track":false,"x":1130,"y":200,"wires":[[]]},{"id":"3214bdb1.e1bad2","type":"chatbot-message","z":"327bab91.85abcc","name":"response msg promotion go nolimit ","message":[{"message":"อยากเล่นเน็ตแบบน้องนาย ต้องนี่เลย​โปรโกโนลิมิต..."}],"answer":false,"track":false,"x":1220,"y":280,"wires":[[]]},{"id":"35c64e2a.37fb62","type":"chatbot-message","z":"327bab91.85abcc","name":"","message":[""],"answer":false,"track":false,"x":1130,"y":160,"wires":[[]]},{"id":"bcbc7463.b4276","type":"chatbot-message","z":"327bab91.85abcc","name":"","message":[""],"answer":false,"track":false,"x":1130,"y":320,"wires":[[]]},{"id":"6acd99f1.fa9f8","type":"chatbot-message","z":"327bab91.85abcc","name":"","message":[""],"answer":false,"track":false,"x":1130,"y":400,"wires":[[]]},{"id":"9dbb9630.ac6e3","type":"chatbot-message","z":"327bab91.85abcc","name":"","message":[""],"answer":false,"track":false,"x":1130,"y":440,"wires":[[]]},{"id":"fb21ccd0.1780c8","type":"http request","z":"82ed363f.63ca4","name":"PakcageEquiry API","method":"POST","ret":"txt","url":"","tls":"","x":530,"y":80,"wires":[[]]},{"id":"3acdc8f2.a912a8","type":"function","z":"82ed363f.63ca4","name":"Set Message PackgeEquiry","func":"// var str = msg.payload.content;\n// str = encodeURIComponent(str);\n// msg.url = 'https://dtac-chatbot.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["46ce1e38.f2de1"]]},{"id":"46ce1e38.f2de1","type":"function","z":"82ed363f.63ca4","name":"set message to response","func":"return msg;","outputs":1,"noerr":0,"x":810,"y":60,"wires":[[]]},{"id":"155b08ab.2fcc3f","type":"subflow:64f36254.d7b944","z":"327bab91.85abcc","name":"BalanceCheck","x":700,"y":40,"wires":[["f3df7484.87dff","e186f1f6.c0375"]]},{"id":"b79515de.481cf8","type":"subflow:82ed363f.63ca4","z":"327bab91.85abcc","name":"PackgeEnquiry","x":701,"y":189,"wires":[["3214bdb1.e1bad2","bcbc7463.b4276","738cf048.d32218","6acd99f1.fa9f8","9dbb9630.ac6e3"]]},{"id":"5382026a.59b50c","type":"debug","z":"c350901d.e20dd","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":720,"y":260,"wires":[]},{"id":"65f402c5.3b513c","type":"chatbot-facebook-receive","z":"c350901d.e20dd","bot":"d2d35deb.9e55","botProduction":"","x":490,"y":120,"wires":[["5382026a.59b50c","2ad77970.5420f6"]]},{"id":"2ad77970.5420f6","type":"subflow:327bab91.85abcc","z":"c350901d.e20dd","name":"","x":780,"y":120,"wires":[["f054b405.4683c8","15b9f557.1fa83b"]]},{"id":"f054b405.4683c8","type":"chatbot-facebook-send","z":"c350901d.e20dd","bot":"d2d35deb.9e55","botProduction":"","track":false,"outputs":0,"x":1090,"y":120,"wires":[]},{"id":"81bf4d18.4a5a7","type":"debug","z":"327bab91.85abcc","name":"OUT NLP","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":380,"y":40,"wires":[]},{"id":"e186f1f6.c0375","type":"debug","z":"327bab91.85abcc","name":"OUT BL","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":100,"wires":[]},{"id":"15b9f557.1fa83b","type":"debug","z":"c350901d.e20dd","name":"OUT CHATBOT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":960,"y":260,"wires":[]}]