flows_chatbot_dtac.json
[{"id":"b67fbe83.644fd","type":"tab","label":"Main Flows","disabled":false,"info":""},{"id":"b207d987.7e94a8","type":"tab","label":"Test Flow","disabled":true,"info":""},{"id":"584e0550.3eefac","type":"tab","label":"Balance Enquiry","disabled":true,"info":""},{"id":"606b4565.568d8c","type":"subflow","name":"Fb-BotNoi-Fb","info":"","in":[{"x":40,"y":40,"wires":[{"id":"fdbe99ed.03e038"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"8bd2596c.ebad58","port":0}]}]},{"id":"4c9305c5.1b58ec","type":"subflow","name":"Validate Postpaid, Prepaid Active Or Suspend","info":"","in":[{"x":58.75,"y":25,"wires":[{"id":"2fa6a131.c7d94e"},{"id":"468d024b.5722fc"}]}],"out":[{"x":1603.75,"y":107,"wires":[{"id":"41713df5.dce0e4","port":0}]},{"x":1601.5000610351562,"y":238.49996948242188,"wires":[{"id":"a6b410fd.bd5d7","port":0}]},{"x":812.5,"y":326.75,"wires":[{"id":"127e0f63.cde571","port":1}]},{"x":816.5,"y":266.75,"wires":[{"id":"d5c65b37.f10f48","port":1}]}]},{"id":"22daa659.bc445a","type":"subflow","name":"Validate Profile and Send OTP","info":"","in":[{"x":50,"y":30,"wires":[{"id":"5a04ff79.8db39"}]}],"out":[{"x":709,"y":340,"wires":[{"id":"58ac9a4c.f8dad4","port":0}]},{"x":1094,"y":281,"wires":[{"id":"c2500e43.9b2b8","port":0}]}]},{"id":"700bea1d.3c0264","type":"subflow","name":"Validate OTP ","info":"","in":[{"x":223,"y":86,"wires":[{"id":"7661c5ef.5f63ac"}]}],"out":[{"x":1461,"y":237,"wires":[{"id":"f5678c9b.7ff6e","port":0},{"id":"610368d.6bf3998","port":0}]},{"x":1265,"y":418,"wires":[{"id":"f987243c.0f8da8","port":1}]}]},{"id":"e2faf569.e7f248","type":"subflow","name":"Balance Enquiry","info":"","in":[{"x":50,"y":30,"wires":[{"id":"9ad0f6bf.862d48"},{"id":"60eea0c2.b2582"}]}],"out":[{"x":336.5,"y":208.00003051757812,"wires":[{"id":"9ad0f6bf.862d48","port":1}]},{"x":998,"y":147.75,"wires":[{"id":"25a116ab.9abe8a","port":0}]},{"x":1179.25,"y":189,"wires":[{"id":"f19076af.1e2f48","port":0}]},{"x":1181.5,"y":278.0000305175781,"wires":[{"id":"f19076af.1e2f48","port":1}]},{"x":1180.5,"y":366.25,"wires":[{"id":"f19076af.1e2f48","port":2}]},{"x":1172.5,"y":459.25,"wires":[{"id":"f19076af.1e2f48","port":3}]}]},{"id":"17a1908f.9c348f","type":"subflow","name":"PackageEquiry","info":"","in":[{"x":50,"y":30,"wires":[{"id":"408646f7.803d38"}]}],"out":[{"x":599,"y":192,"wires":[{"id":"408646f7.803d38","port":1}]},{"x":964,"y":157,"wires":[{"id":"cba82eb3.f5cdb","port":0}]},{"x":1007,"y":287,"wires":[{"id":"6ebe4f3a.33eff","port":0}]},{"x":1009,"y":349,"wires":[{"id":"6ebe4f3a.33eff","port":1}]},{"x":1015,"y":411,"wires":[{"id":"6ebe4f3a.33eff","port":2}]},{"x":1002,"y":484,"wires":[{"id":"6ebe4f3a.33eff","port":3}]}]},{"id":"bd90408c.ceec38","type":"chatbot-facebook-node","z":"","botname":"CHAT_BOT_FB","usernames":"","store":"","log":""},{"id":"bb8f57bb.95d638","type":"inject","z":"b207d987.7e94a8","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"x":90,"y":160,"wires":[["f340d978.dd6dc8"]]},{"id":"f340d978.dd6dc8","type":"http request","z":"b207d987.7e94a8","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":260,"y":160,"wires":[["af29a4d1.1a05e8"]]},{"id":"af29a4d1.1a05e8","type":"csv","z":"b207d987.7e94a8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":430,"y":160,"wires":[["8cad6025.e703e","d17e2bdf.8249f8"]]},{"id":"8cad6025.e703e","type":"debug","z":"b207d987.7e94a8","name":"","active":true,"complete":false,"x":630,"y":120,"wires":[]},{"id":"d17e2bdf.8249f8","type":"switch","z":"b207d987.7e94a8","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","outputs":1,"x":470,"y":220,"wires":[["df98bc3d.cd2eb"]]},{"id":"df98bc3d.cd2eb","type":"change","z":"b207d987.7e94a8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[["9f510a5e.be3488"]]},{"id":"9f510a5e.be3488","type":"debug","z":"b207d987.7e94a8","name":"","active":true,"complete":false,"x":710,"y":200,"wires":[]},{"id":"8eaaa1e4.b5f21","type":"debug","z":"606b4565.568d8c","name":"receive msg from botnoi","active":true,"console":"false","complete":"payload","x":190,"y":280,"wires":[]},{"id":"bd9301a9.a6ca4","type":"http request","z":"606b4565.568d8c","name":"req botnoi","method":"GET","ret":"txt","url":"","tls":"","x":190,"y":200,"wires":[["8eaaa1e4.b5f21","8bd2596c.ebad58"]]},{"id":"8bd2596c.ebad58","type":"function","z":"606b4565.568d8c","name":"unescape response","func":"msg.payload = msg.payload.replace(/\\\"/g, '').replace(/\\\\/g,'%');\nmsg.payload = unescape(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["867c141f.4440d8"]]},{"id":"867c141f.4440d8","type":"debug","z":"606b4565.568d8c","name":"","active":true,"console":"false","complete":"false","x":490,"y":140,"wires":[]},{"id":"fdbe99ed.03e038","type":"function","z":"606b4565.568d8c","name":"Set message to request ask","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://botnoiminhash-api.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["bd9301a9.a6ca4"]]},{"id":"20722e8.30de2d2","type":"inject","z":"584e0550.3eefac","name":"","topic":"","payload":"{\"Category\": {\"result\": \"\\u0e2a\\u0e21\\u0e31\\u0e04\\u0e23\\u0e42\\u0e1b\\u0e23\\u0e42\\u0e21\\u0e0a\\u0e31\\u0e48\\u0e19\\u0e2b\\u0e25\\u0e31\\u0e01-\\u0e40\\u0e2a\\u0e23\\u0e34\\u0e21_\\u0e23\\u0e30\\u0e1a\\u0e38\\u0e41\\u0e1e\\u0e47\\u0e01\", \"distance\": \"0.00\"}, \"Message\": \"\\u0e2a\\u0e21\\u0e31\\u0e04\\u0e23\\u0e40\\u0e19\\u0e47\\u0e15 70 \\u0e0a\\u0e21.\\u0e19\\u0e32\\u0e19 30\\u0e27\\u0e31\\u0e19 199 \\u0e1a\\u0e32\\u0e17\", \"Description\": {\"result\": \"HP_internet_70Hr_199B-30d\", \"distance\": \"0.01\"}, \"Product\": {\"result\": \"Prepaid\", \"distance\": \"0.34\"}, \"PackageCode\": {\"result\": \"21230233\", \"distance\": \"0.01\"}, \"ToDoNext\": {\"result\": \"001-2-1\", \"distance\": \"0.23\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":40,"wires":[["a464acc9.75a4a"]]},{"id":"a464acc9.75a4a","type":"json","z":"584e0550.3eefac","name":"","pretty":false,"x":210,"y":40,"wires":[["75969820.fa3918"]]},{"id":"159c0fbf.4d19e","type":"debug","z":"584e0550.3eefac","name":"object json","active":true,"console":"false","complete":"payload","x":772,"y":400,"wires":[]},{"id":"a29fd128.4ca71","type":"function","z":"584e0550.3eefac","name":"Set response message","func":"var ans =  msg.payload.ans\nmsg.payload = ans\nreturn msg","outputs":1,"noerr":0,"x":491,"y":460,"wires":[["35fd48d1.a0b3b8","9bd7e3d6.da70b"]]},{"id":"242ae2bc.4772be","type":"debug","z":"584e0550.3eefac","name":"http rquest","active":true,"console":"false","complete":"payload","x":772,"y":340,"wires":[]},{"id":"fd1a9d91.1d1f3","type":"http request","z":"584e0550.3eefac","name":"","method":"GET","ret":"txt","url":"","x":532,"y":340,"wires":[["242ae2bc.4772be","c5ae6063.d2c63"]]},{"id":"1307bf8e.ae9d9","type":"function","z":"584e0550.3eefac","name":"Set message to request ask","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://wowbox-api.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":280,"wires":[["fd1a9d91.1d1f3"]]},{"id":"c5ae6063.d2c63","type":"json","z":"584e0550.3eefac","name":"","pretty":false,"x":552,"y":400,"wires":[["159c0fbf.4d19e","a29fd128.4ca71"]]},{"id":"c6e999e3.a661a8","type":"debug","z":"584e0550.3eefac","name":"message request from facebook","active":true,"console":"false","complete":"payload","x":179,"y":340,"wires":[]},{"id":"75969820.fa3918","type":"debug","z":"584e0550.3eefac","name":"","active":true,"console":"false","complete":"payload.PackageCode.result","x":680,"y":40,"wires":[]},{"id":"1c4f30dc.1dfc0f","type":"file","z":"584e0550.3eefac","name":"input_message_from_facebook_log_file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":199,"y":580,"wires":[]},{"id":"866ac6b1.8360a8","type":"file","z":"584e0550.3eefac","name":"output_message_from_facebook_log_file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":440,"y":700,"wires":[]},{"id":"6b52adf8.c19b44","type":"function","z":"584e0550.3eefac","name":"set date input filename","func":"var currentDate = msg.currentdate;\nmsg.filename = 'input_facebook_log_'+currentDate+'.log';\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":520,"wires":[["1c4f30dc.1dfc0f"]]},{"id":"b6b4230f.d78a1","type":"debug","z":"584e0550.3eefac","name":"date current input","active":true,"console":"false","complete":"payload","x":129,"y":460,"wires":[]},{"id":"954a4f9b.7a835","type":"debug","z":"584e0550.3eefac","name":"date current output","active":true,"console":"false","complete":"payload","x":490,"y":580,"wires":[]},{"id":"c7f7d1a0.64c96","type":"function","z":"584e0550.3eefac","name":"set date output filename","func":"var currentDate = msg.currentdate;\nmsg.filename = 'output_facebook_log_'+currentDate+'.log';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["866ac6b1.8360a8"]]},{"id":"7661c5ef.5f63ac","type":"http request","z":"700bea1d.3c0264","name":"Call API validate time of OPT","method":"GET","ret":"txt","url":"","tls":"","x":506,"y":85,"wires":[["1a0dbe69.927962","1e154406.c685bc"]]},{"id":"87cf3289.108bf","type":"http request","z":"700bea1d.3c0264","name":"Call API validate customer request OTP ","method":"GET","ret":"txt","url":"","tls":"","x":467,"y":226,"wires":[["8864f20e.fc984","ad4fff09.57c8e"]]},{"id":"aae73e33.072c2","type":"moment","z":"584e0550.3eefac","name":"","topic":"","input":"","inputType":"date","inTz":"Etc/ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYDDMM","locale":"EN","output":"currentdate","outputType":"msg","outTz":"Etc/UTC","x":139,"y":400,"wires":[["6b52adf8.c19b44","b6b4230f.d78a1"]]},{"id":"9bd7e3d6.da70b","type":"moment","z":"584e0550.3eefac","name":"","topic":"","input":"","inputType":"date","inTz":"Etc/ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYDDMM","locale":"EN","output":"currentdate","outputType":"msg","outTz":"Etc/UTC","x":501,"y":520,"wires":[["c7f7d1a0.64c96","954a4f9b.7a835"]]},{"id":"35fd48d1.a0b3b8","type":"chatbot-message","z":"584e0550.3eefac","name":"","message":[{"message":""}],"answer":false,"track":false,"x":750,"y":460,"wires":[["dd293371.308a1"]]},{"id":"ee716344.09a6f","type":"chatbot-facebook-receive","z":"584e0550.3eefac","bot":"","botProduction":"","x":141,"y":281,"wires":[["c6e999e3.a661a8","1307bf8e.ae9d9","aae73e33.072c2"]]},{"id":"dd293371.308a1","type":"chatbot-facebook-send","z":"584e0550.3eefac","bot":"","track":false,"outputs":0,"x":790,"y":520,"wires":[]},{"id":"38a41ea1.242e02","type":"http request","z":"b67fbe83.644fd","name":"NLP","method":"GET","ret":"txt","url":"","tls":"","x":798,"y":55,"wires":[["5d8fd3e4.d0301c","e2e7abd6.d8b538"]]},{"id":"91a84f5f.3d07a","type":"file","z":"b67fbe83.644fd","name":"","filename":"input message facebook","appendNewline":true,"createDir":false,"overwriteFile":"false","x":153,"y":110,"wires":[]},{"id":"5d8fd3e4.d0301c","type":"function","z":"b67fbe83.644fd","name":"get response from NLP","func":"\nreturn msg;","outputs":"1","noerr":0,"x":1094,"y":53,"wires":[["9ff74a36.916448"]]},{"id":"4d3722f4.ac27ec","type":"chatbot-facebook-receive","z":"b67fbe83.644fd","bot":"bd90408c.ceec38","botProduction":"","x":133,"y":56,"wires":[["389ad454.98fb9c","69f35bce.ba02c4"]]},{"id":"e2e7abd6.d8b538","type":"debug","z":"b67fbe83.644fd","name":"response from NLP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":838,"y":20,"wires":[]},{"id":"69f35bce.ba02c4","type":"function","z":"b67fbe83.644fd","name":"set message to request NLP","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://dtac-chatbot.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":56,"wires":[["38a41ea1.242e02","ef1def12.8efd5"]]},{"id":"9ff74a36.916448","type":"json","z":"b67fbe83.644fd","name":"","property":"payload","action":"","pretty":false,"x":1154,"y":100,"wires":[["e7edad6b.240f3","c4157f5f.ea3ee"]]},{"id":"ef1def12.8efd5","type":"debug","z":"b67fbe83.644fd","name":"set message to call NLP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":597,"y":99,"wires":[]},{"id":"d2210503.2a56f8","type":"file","z":"b67fbe83.644fd","name":"","filename":"respons NLP","appendNewline":true,"createDir":false,"overwriteFile":"false","x":113,"y":150,"wires":[]},{"id":"389ad454.98fb9c","type":"debug","z":"b67fbe83.644fd","name":"Input request from facebook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":162,"y":188,"wires":[]},{"id":"cab30a4b.0460e8","type":"chatbot-message","z":"b67fbe83.644fd","name":"","message":[""],"answer":false,"track":false,"x":1829.7500610351562,"y":356.75,"wires":[["8f2e3c0d.205e5"]]},{"id":"8f2e3c0d.205e5","type":"chatbot-facebook-send","z":"b67fbe83.644fd","bot":"bd90408c.ceec38","botProduction":"","track":false,"outputs":0,"x":2071,"y":43,"wires":[]},{"id":"932844a8.924c18","type":"file","z":"b67fbe83.644fd","name":"","filename":"response facebook","appendNewline":true,"createDir":false,"overwriteFile":"false","x":2072,"y":97,"wires":[]},{"id":"7fd5d109.69ffb","type":"file","z":"b67fbe83.644fd","name":"","filename":"response agent","appendNewline":true,"createDir":false,"overwriteFile":"false","x":2063,"y":142,"wires":[]},{"id":"f5678c9b.7ff6e","type":"chatbot-message","z":"700bea1d.3c0264","name":"return msg otp over 15min","message":[{"message":" เลยเวลาที่กำหนดจ้า หนูดีรบกวนแจ้งเรื่องที่ต้องการทำรายการอีกครั้งจ้า"}],"answer":false,"track":false,"x":1144,"y":172,"wires":[[]]},{"id":"610368d.6bf3998","type":"chatbot-message","z":"700bea1d.3c0264","name":"return msg otp first wrong","message":[{"message":"รหัสไม่ถูกจ้า หนูดีขอรหัสใหม่อีกครั้ง"}],"answer":false,"track":false,"x":1145,"y":326,"wires":[[]]},{"id":"1a0dbe69.927962","type":"function","z":"700bea1d.3c0264","name":"Validate OTP < 15 min","func":"\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":178,"wires":[["effcb8db.39d828"]]},{"id":"8864f20e.fc984","type":"function","z":"700bea1d.3c0264","name":"Validate customer request OTP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":329,"wires":[["f987243c.0f8da8"]]},{"id":"effcb8db.39d828","type":"switch","z":"700bea1d.3c0264","name":"IsOver15Min","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":779,"y":180,"wires":[["f5678c9b.7ff6e"],["87cf3289.108bf"]]},{"id":"f987243c.0f8da8","type":"switch","z":"700bea1d.3c0264","name":"IsOTPFirstWrong","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":796,"y":331,"wires":[["610368d.6bf3998"],[]]},{"id":"e219f882.4c5698","type":"switch","z":"4c9305c5.1b58ec","name":"Switch POSTAID, PREPAID","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"POSTPAID","vt":"str"},{"t":"eq","v":"PREPAID","vt":"str"}],"checkall":"true","outputs":2,"x":244.5,"y":248.75,"wires":[["d5c65b37.f10f48"],["127e0f63.cde571"]]},{"id":"2fa6a131.c7d94e","type":"function","z":"4c9305c5.1b58ec","name":"Validate Networktype[Post.Pre]","func":"\nreturn msg;","outputs":1,"noerr":0,"x":256.5,"y":169.75,"wires":[["e219f882.4c5698"]]},{"id":"d5c65b37.f10f48","type":"switch","z":"4c9305c5.1b58ec","name":"Active or Suspend 1Way, 2Way Postpaid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Active Or Suspend OneWay ","vt":"str"},{"t":"eq","v":"Suspend TwoWay ","vt":"str"}],"checkall":"true","outputs":2,"x":588.5,"y":243.75,"wires":[["e71df0b3.8d56d"],[]]},{"id":"127e0f63.cde571","type":"switch","z":"4c9305c5.1b58ec","name":"Active ,Suspend Prepaid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SUSPEND","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540.5,"y":294.75,"wires":[["97ff2287.ba15f"],[]]},{"id":"e71df0b3.8d56d","type":"http request","z":"4c9305c5.1b58ec","name":"Call API BalanceCheck Postpaid","method":"GET","ret":"txt","url":"","tls":"","x":989.5,"y":235.75,"wires":[["41713df5.dce0e4"]]},{"id":"97ff2287.ba15f","type":"http request","z":"4c9305c5.1b58ec","name":"Call API BalanceCheck Prepaid","method":"GET","ret":"txt","url":"","tls":"","x":990.5,"y":298.75,"wires":[["a6b410fd.bd5d7"]]},{"id":"41713df5.dce0e4","type":"function","z":"4c9305c5.1b58ec","name":"get response message postpaid","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1315.5,"y":234.75,"wires":[["99c60750.7cdd6"]]},{"id":"a6b410fd.bd5d7","type":"function","z":"4c9305c5.1b58ec","name":"get response message prepaid","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1314.5000610351562,"y":298.75,"wires":[["c0141a68.951e98"]]},{"id":"5afa1546.da7d8c","type":"switch","z":"b67fbe83.644fd","name":"Condition Flows","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"Balance_check","vt":"str"},{"t":"eq","v":"CAT1","vt":"str"},{"t":"eq","v":"CAT2","vt":"str"},{"t":"eq","v":"CAT3","vt":"str"},{"t":"eq","v":"CAT4","vt":"str"},{"t":"eq","v":"AGENT","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1127,"y":249,"wires":[["6f87f311.de4ddc","1aba84ee.960d43"],["d523d75b.596c68"],["d523d75b.596c68"],["d523d75b.596c68"],["d523d75b.596c68"],["29e9000b.b5dd6"]]},{"id":"e7edad6b.240f3","type":"function","z":"b67fbe83.644fd","name":"Vlidate Category","func":"var intent = msg.payload.intent;\nvar distance = msg.payload.distance;\nif(distance > 0.6){\n    msg.payload.intent = 'AGENT';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1118,"y":150,"wires":[["5afa1546.da7d8c","1bd766.aaa0609a"]]},{"id":"29e9000b.b5dd6","type":"function","z":"b67fbe83.644fd","name":"Call AGENT","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1496.4285430908203,"y":455.1428508758545,"wires":[["cab30a4b.0460e8"]]},{"id":"1e154406.c685bc","type":"debug","z":"700bea1d.3c0264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":558,"y":133,"wires":[]},{"id":"ad4fff09.57c8e","type":"debug","z":"700bea1d.3c0264","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":557,"y":275,"wires":[]},{"id":"5a04ff79.8db39","type":"http request","z":"22daa659.bc445a","name":"Profile","method":"GET","ret":"txt","url":"","tls":"","x":214,"y":178,"wires":[["48f3579e.854658","80b7f8d1.55bbe8"]]},{"id":"48f3579e.854658","type":"function","z":"22daa659.bc445a","name":"Validate Profile","func":"\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":218,"wires":[["b9998d86.faddd"]]},{"id":"b9998d86.faddd","type":"http request","z":"22daa659.bc445a","name":"Check OM","method":"GET","ret":"txt","url":"","tls":"","x":538,"y":156,"wires":[["f2dff387.2699","150306bb.5ecf49"]]},{"id":"58ac9a4c.f8dad4","type":"http request","z":"22daa659.bc445a","name":"Send OTP","method":"GET","ret":"txt","url":"","tls":"","x":547,"y":336,"wires":[["d73137b8.1b4a1"]]},{"id":"c2500e43.9b2b8","type":"chatbot-message","z":"22daa659.bc445a","name":"return msg no msisdn","message":[{"message":"หนูดีขอเบอร์ระบบ dtac ที่ใช้งานในปัจจุบันเพื่อตรวจสอบให้นะคะ ^^"}],"answer":false,"track":false,"x":921,"y":281,"wires":[["eb97b1ce.770a28"]]},{"id":"80b7f8d1.55bbe8","type":"debug","z":"22daa659.bc445a","name":"response from Profile API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":428,"y":100,"wires":[]},{"id":"f2dff387.2699","type":"debug","z":"22daa659.bc445a","name":"response from GetOperator API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":732,"y":102,"wires":[]},{"id":"150306bb.5ecf49","type":"function","z":"22daa659.bc445a","name":"Validate Operator","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":199,"wires":[["78eb18aa.393838","7ce5edc5.913bc4"]]},{"id":"78eb18aa.393838","type":"switch","z":"22daa659.bc445a","name":"IsDTAC","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":543,"y":287,"wires":[["c2500e43.9b2b8"],["58ac9a4c.f8dad4"]]},{"id":"9ad0f6bf.862d48","type":"subflow:22daa659.bc445a","z":"e2faf569.e7f248","name":"","x":433,"y":161,"wires":[["25a116ab.9abe8a"],["9da97ad2.aeddb8"]]},{"id":"25a116ab.9abe8a","type":"subflow:700bea1d.3c0264","z":"e2faf569.e7f248","name":"","x":733,"y":156,"wires":[["a06e06a1.f9be38"],["f19076af.1e2f48","1c9eef61.6052d9"]]},{"id":"f19076af.1e2f48","type":"subflow:4c9305c5.1b58ec","z":"e2faf569.e7f248","name":"","x":703,"y":343.25,"wires":[["7f1dbab4.48197c"],["ea1df4df.53d0a8"],["479d9817.a86d28"],["6a523243.2f4bf4"]]},{"id":"6f87f311.de4ddc","type":"subflow:e2faf569.e7f248","z":"b67fbe83.644fd","name":"","x":1437,"y":236,"wires":[["8f2e3c0d.205e5"],["8f2e3c0d.205e5"],["8f2e3c0d.205e5"],["8f2e3c0d.205e5"],["29e9000b.b5dd6"],["29e9000b.b5dd6"]]},{"id":"408646f7.803d38","type":"subflow:22daa659.bc445a","z":"17a1908f.9c348f","name":"","x":441,"y":165,"wires":[["cba82eb3.f5cdb"],[]]},{"id":"cba82eb3.f5cdb","type":"subflow:700bea1d.3c0264","z":"17a1908f.9c348f","name":"","x":741,"y":160,"wires":[[],["6ebe4f3a.33eff"]]},{"id":"6ebe4f3a.33eff","type":"subflow:4c9305c5.1b58ec","z":"17a1908f.9c348f","name":"","x":701,"y":346,"wires":[[],[],[],[]]},{"id":"1aba84ee.960d43","type":"debug","z":"b67fbe83.644fd","name":"Start BalanceCheck Flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1470,"y":152,"wires":[]},{"id":"1bd766.aaa0609a","type":"debug","z":"b67fbe83.644fd","name":"get Intent to follow ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1447,"y":107,"wires":[]},{"id":"c4157f5f.ea3ee","type":"debug","z":"b67fbe83.644fd","name":"Convert JSON String to JSON Object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1505,"y":58,"wires":[]},{"id":"60eea0c2.b2582","type":"debug","z":"e2faf569.e7f248","name":"Input validate profile subflow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":439,"y":35,"wires":[]},{"id":"d523d75b.596c68","type":"function","z":"b67fbe83.644fd","name":"Blank condition","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1272,"y":455,"wires":[["29e9000b.b5dd6"]]},{"id":"468d024b.5722fc","type":"debug","z":"4c9305c5.1b58ec","name":"Input Status Postpaid, Prepaid flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":311.25,"y":26.25,"wires":[]},{"id":"d73137b8.1b4a1","type":"debug","z":"22daa659.bc445a","name":"response send request OTP ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":788.75,"y":427,"wires":[]},{"id":"eb97b1ce.770a28","type":"debug","z":"22daa659.bc445a","name":"response msg msisdn missing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1207.5,"y":355,"wires":[]},{"id":"a06e06a1.f9be38","type":"debug","z":"e2faf569.e7f248","name":"response mssage not found msisdn","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1018.75,"y":58.75,"wires":[]},{"id":"1c9eef61.6052d9","type":"debug","z":"e2faf569.e7f248","name":"response mssage call validate status ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":673.75,"y":403.75,"wires":[]},{"id":"7f1dbab4.48197c","type":"debug","z":"e2faf569.e7f248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1231.25,"y":232.5,"wires":[]},{"id":"ea1df4df.53d0a8","type":"debug","z":"e2faf569.e7f248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1227.5,"y":321.25,"wires":[]},{"id":"479d9817.a86d28","type":"debug","z":"e2faf569.e7f248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1231.25,"y":412.5,"wires":[]},{"id":"6a523243.2f4bf4","type":"debug","z":"e2faf569.e7f248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1226.25,"y":503.75,"wires":[]},{"id":"9da97ad2.aeddb8","type":"debug","z":"e2faf569.e7f248","name":"response msg msisdn missing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":441.25,"y":266.25,"wires":[]},{"id":"99c60750.7cdd6","type":"debug","z":"4c9305c5.1b58ec","name":"response msg postpaid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1695,"y":148.75,"wires":[]},{"id":"c0141a68.951e98","type":"debug","z":"4c9305c5.1b58ec","name":"response msg prepaid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1681.25,"y":283.75,"wires":[]},{"id":"7ce5edc5.913bc4","type":"debug","z":"22daa659.bc445a","name":"status postpaid or prepaid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":853.75,"y":165,"wires":[]}]